{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">

        <div class="row mt-5 border-bottom pb-2">
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2">
                <a href="{{ path('models_page') }}" class="btn btn-outline-success w-75">Модели</a>
            </div>
            {% if is_granted('ROLE_ADMIN') %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2 mt-3 mt-sm-0">
                    <a href="{{ path('users_page') }}" class="btn btn-outline-success w-75 active">Пользователи</a>
                </div>
            {% endif %}
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-2 mt-3 mt-md-0">
                <a href="{{ path('stamps_page') }}" class="btn btn-outline-success w-75">Марки</a>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-12">
                {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MANAGER') %}

                {% endif %}
            </div>
        </div>

        <div class="row mt-5 d-bloc d-md-none">
            <div class="col-12">
                <div class="card card-register p-3 w-100">
                    {% for user in users %}
                        <div class="row my-3 border-bottom">
                            <div class="col-4">id</div>
                            <div class="col-8">{{ user.id }}</div>
                            <div class="col-4">email</div>
                            <div class="col-8">{{ user.email }}</div>
                            <div class="col-4">role</div>
                            <div class="col-8">{{ user.roles[0] }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="row mt-5 d-none d-md-block">
            <div class="col-12">
                <div class="card card-register p-3 w-100">
                    <div class="row my-2 border-bottom">
                        <div class="col-3">id</div>
                        <div class="col-3">email</div>

                        <div class="col-3">role</div>
                    </div>
                    {% for user in users %}
                        <div class="row my-2 border-bottom">
                            <div class="col-3">{{ user.id }}</div>
                            <div class="col-3">{{ user.email }}</div>

                            <div class="col-3">{{ user.roles[0] }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}